.heading {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.heading--white {
    color: #fff !important;
}

.heading-1 {
    @extend .heading;
    font-size: 8rem;
    line-height: 1.2;
    font-weight: 700;
}

.heading-2 {
    @extend .heading;
    color: $color-primary;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 700;
}

.heading-3 {
    @extend .heading;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
}

.heading-4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #999;
}

.heading-5 {
    @extend .heading;
    text-transform: initial;
    font-size: 2rem;
    margin-bottom: 2rem;
}