.squad {
    background-color: rgb(234, 0, 255);
    grid-column: full-start / full-end;
}

.features {
    background-color: rgb(255, 0, 64);
    grid-column: center-start / center-end;
}

.testimonials {
    background-color: rgb(255, 230, 0);
    grid-column: full-start / full-end;
}

.blog {
    background-color: rgb(94, 255, 0);
    grid-column: center-start / center-end;
}

.stats {
    background-color: rgb(0, 255, 179);
    grid-column: full-start / full-end;
}

.subscribe {
    background-color: rgb(0, 4, 255);
    grid-column: full-start / full-end;
}

.footer {
    background-color: rgb(255, 0, 221);
    grid-column: full-start / full-end;
}
