.nav {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item {
        transition: color .2s;
        padding: 1.5rem 2rem;
        cursor: pointer;

        &:last-child {
            background-color: $color-primary;
            padding: 1.5rem 2rem;
            border-radius: .3rem;
        }

        &:hover {
            color: $color-green;
        }

    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: inherit;
    }
}