@mixin vs-block {
    filter: brightness(.8);
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
        margin-right: 3.5rem;
    }

    span {
        display: inline-block;
        transform: translateY(-1.6rem);
        font-size: 2rem;
    }
}

@mixin vs-team-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .heading-3 {
        text-transform: uppercase;
    }
}

@mixin vs-img {
    display: block;
    height: 9rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

@mixin left-before {
    content: '';
    width: 500%;
    height: 40rem;
    left: -150%;
    top: -7.5rem;
    position: absolute;
    z-index: 1;
    transform: skewX(-40deg);
    z-index: -1;
}

@mixin right-after {
    content: '';
    width: 500%;
    height: 40rem;
    left: 50%;
    top: -7.5rem;
    position: absolute;
    z-index: 1;
    transform: skewX(-40deg);
    z-index: -1;
}